.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: lightgrey;
  color: black;
  height: 60px;
  position: sticky;
  top: 0;
  z-index: 100;
}

.logo {
  width: 70px;
  padding: 0px 20px;
  mix-blend-mode: color-burn;
}

.wrap-text {
  white-space: nowrap; /* Prevents text from wrapping to the next line */
  overflow: hidden; /* Hides overflowing content */
  text-overflow: ellipsis; /* Displays ellipsis (...) when content overflows */
  width: 100%; /* Optional: Set a specific width for the element */
}

.search {
  margin-left: 25px;
}

.search-input {
  padding: 6px;
  border: 1px solid #d3d3d3;
  border-radius: 6px;
}

.search-btn {
  cursor: pointer;
  color: #fff;
  background-color: orange;
  border: none;
  border-radius: 8px;
  margin: 10px;
  padding: 8px;
}

.res-card {
  margin: 5px;
  background-color: #f0f0f0;
  padding: 4px;
  width: 190px;
  height: 300px;
  border-radius: 8px;
  overflow: hidden;
}

.res-card:hover {
  cursor: pointer;
  border: 1px solid gray;
  box-shadow: 6px 6px 3px grey;
}

.res-logo {
  width: 100%;
  height: 50%;
  object-fit: cover;
}

.res-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.filter {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.filter-btn {
  cursor: pointer;
  color: white;
  background-color: orange;
  padding: 8px;
  border: none;
  border-radius: 8px;
  margin: 10px 25px;
}

.login-btn {
  font-size: 0.9em;
  padding: 8px 20px;
  border: none;
  background: orange;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}

.user-card {
  margin: 5px;
  width: 30%;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 10px;
}

.display-user-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.img-user-profile {
  height: 120px;
  width: 120px;
  border: none;
  border-radius: 50%;
}

.div-user-name {
  padding: 10px;
}

/* ========================================================================================================= */

h3 {
  margin: 0px;
}

h4 {
  margin: 8px 0px;
  font-weight: 300;
}

.nav-items > ul {
  display: flex;
  align-items: center;
  padding: 0px 20px;
  list-style-type: none;
}

.nav-items > ul > li > a {
  padding: 6px 10px;
  margin: 10px;
  font-size: 1.1em;
  text-decoration: none;
  color: white;
  /* background-color: white; */
}

.nav-items > ul > li > a:hover {
  color: orange;
  background-color: white;
  border-radius: 8px;
}

.res-container > a {
  text-decoration: none;
  color: black;
}
